.heroes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;

  //   .hero-card-add-button {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     width: 120px;
  //     button.mat-fab {
  //       margin: 0;
  //     }
  //   }
}
