.heroes-wrapper {
  display: flex;
  justify-content: center;
}

.heroes-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: start;
  max-width: 75rem;
  width: 100%;
}

@media (max-width: 768px) {
  .heroes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
